:root{
    --base:#21232a;
}
body{
    background:var(--base);
    font-family: 'Lato', sans-serif;

}
.btn-submit{
    border-radius:6em;
    border:none;
    font-weight:bold;
}
.form-div{
    background:var(--base)
}
.form{
    background: transparent;
    outline:none;
    border:none;
    border-bottom:1px solid #207886;
    color:#fff;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form:focus{
    border-bottom: 2px solid #10c3df;
}
.form::placeholder{
    color:rgba(238, 238, 238, 0.767);
}

.card-color{
    background:#737070;
    color:white
}
.btn{
    border-radius: 3em !important;
}
.borde{
    border-radius:2em;
}
.size{
    font-size:1.5em;
}
body{
    overflow-x: hidden;
}