body{
    background:
      #24283e  ;
}
.btn-submit{
    border-radius:6em;
    border:none;
}
.form{
    border-radius:3em;
    border:none;
}


.card-color{
    background:#737070;
    color:white
}
.btn{
    border-radius: 3em !important;
}