:root{
    --base:#24283e;
}
body{
    background:var(--base) !important;
    font-family: 'Lato', sans-serif !important;

}
.btn-submit{
    border-radius:6em !important;
    border:none !important;
    font-weight:bold !important;
}
.form-div{
    background:var(--base) !important;
}
.form{
    background: transparent !important;
    outline:none !important;
    border:none !important;
    border-bottom:1px solid #207886 !important;
    color:#fff !important;
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-clip: padding-box !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
.form:focus{
    border-bottom: 2px solid #10c3df !important;
}
.form::placeholder{
    color:rgba(238, 238, 238, 0.767) !important;
}

.card-color{
    background:#737070 !important;
    color:white !important;
}
.btn{
    border-radius: 3em !important;
}
.borde{
    border-radius:2em !important;
}
.size{
    margin-top: 1em !important;
    margin-right: 1em !important;
    font-size: .9em !important;
}
body{
    overflow-x: hidden !important;
}